* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.nav-menu {
    margin-top: 11px;
    max-width: 1512px;
}
.container{
    max-width: 1196px;
    margin: 0 auto;
}
.header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 470px; */
}
.form-header {
    /* width: 750px; */
     display: flex;
    align-items: center;
}
.img-logo {
    margin-right: 40px;
}
.input{
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #d9d9d9;
    background: #fff;
    cursor: pointer;
}
.input-events {
    color: #707070;
    padding: 13px 0 13px 0;
    border-radius: 8px 0 0 8px;
    padding: 13px 150px 13px 37px;
    background-image: url(./);
    background-image: url('./icons/search.svg');
    background-repeat: no-repeat;
    background-position: center left 13px;
}
.input-place {
    position: relative;
 
 
    padding: 13px 93px 13px 17px;
}
.btn-red{
    position: absolute;
    left: 42%;
    border-radius: 0 8px 8px 0;
    /* width: 42px;
     height: 46px; */
    background: #f65858;
    border: none;
    cursor: pointer;
}
/* 
.header-right {
  display: flex;
  align-items: center;
  gap: 22px;
}
.header-right div {
  display: flex;
  align-items: center;
  gap: 4px;
}
.header-right div img {
  width: 22px;
  height: 22px;
}
.header-right div p {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  text-align: center;
  color: #212121;
  cursor: pointer;
}
.header-right a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: #212121;
}
.btn-green {
  background: #00798a;
  border-radius: 8px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: #fff;
  padding: 8px 16px;
  cursor: pointer;
}

.top-main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 55px;
}
h1{
    max-width: 600px;
 font-weight: 700;
font-size: 42px;
line-height: 124%;
color: #212121;
padding-top: 90px;
padding-bottom: 25px;
}
.txt-in-top{
max-width: 580px;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #212121;
}
.btn-green01 {
  background: #00798a;
  border-radius: 8px;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  padding: 8px 16px;
  cursor: pointer;
  margin: 24px 0 99px 0;
} */
