* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.nav-menu {
    margin-top: 11px;
    max-width: 1512px;
    margin-left: 100px;
    margin-right: 50px;
}
.container{
    max-width: 1196px;
    margin: 0 auto;
}
.header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form-header {
    display: flex;
    align-items: center;
    position: relative;
}
.img-logo {
    margin-right: 40px;
}
.input{
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #d9d9d9;
    background: #fff;
    cursor: pointer;
}
.input-events {
    color: #707070;
    border-radius: 8px 0 0 8px;
    padding: 13px 150px 13px 42px;
    background: url("../icons/search.svg") no-repeat 10px center;
    background-size: 22px 22px;
    padding-left: 37px; /* отступ, чтобы текст не наехал на иконку */
}
.input-place {
    padding: 13px 93px 13px 0;
}
.form-header::after {
    content: "Mountain View, CA";
    position: absolute;
    left: 553px;
}
.btn-red{
    position: absolute;
    left: 100%;
    border-radius: 0 8px 8px 0;
    background: #f65858;
    border: none;
    cursor: pointer;
}
.btn-red:hover{
    background-color: #4d4b4b;;
}
.header-right {
    display: flex;
    align-items: center;
    gap: 22px;
}
.header-right div {
    display: flex;
    align-items: center;
    gap: 4px;
}
.header-right div img {
    width: 22px;
}
.header-right div p {
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    text-align: center;
    color: #212121;
    cursor: pointer;
}
.header-right a {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    color: #212121;
}
.btn-green {
    background: #00798a;
    border-radius: 8px;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    color: #fff;
    padding: 8px 16px;
    cursor: pointer;
}
.btn-green:hover {
  background-color: #008f6d;
}
.top-main {
    display: flex;
    align-items: center;
    gap: 75px;
    margin-top: 81px;
    margin-bottom: 97px;
}
h1{
    max-width: 600px;
    font-weight: 700;
    font-size: 42px;
    line-height: 124%;
    color: #212121;
    margin: 0;
}
.txt-in-top{
    max-width: 580px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #212121;
    padding-top: 24px;
    padding-bottom: 24px;
}   
.btn-green01 {
    background: #00798a;
    border-radius: 8px;
    border: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    padding: 8px 16px;
    cursor: pointer;
}
.btn-green01:hover {
  background-color: #008f6d;
}
.events-head{
    display: flex;
    gap: 700px;
}
.events-head-left{
    display: flex;
    align-items: center;
    gap: 8px;
}
.events-head h3{
    font-weight: 600;
    font-size: 28px;
    line-height: 129%;
    color: #212121;
}
.active-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #00798a;
    cursor: pointer;
}
.active-link:hover{
    color: #072c31;
    text-decoration: underline;
}
.grid{
    margin-top: 24px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 36px;
}
.grid-h5{
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: #212121;
    padding-top: 12px;
    padding-bottom: 8px;
}
.grid-p1{
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    color: #707070;
    padding-bottom: 8px;
}
.flex-in-grid1{
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #212121;
    padding-bottom: 12px;
}
.flexes-inline{
    display: flex;
    align-items: center;
    gap: 16px;
}
.flex-in-grid2{
    display: flex;
    align-items: center;
    gap: 6px;
}
.flex-in-grid3{
    display: flex;
    align-items: center;
    gap: 6px;
}
.txt-and-link{
    margin-top: 100px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.grid2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 36px;
    margin-bottom: 90px;
}
.second-part-top{
    background: rgba(151, 202, 209, 0.08);
    display: flex;
    align-items: center;
    gap: 74px;
    padding-right: 56px;
    margin-bottom: 59px;
}
.second-part-top-txt{
    padding: 36px 0 36px 56px;
}
.h3-second-part{
    font-weight: 600;
    font-size: 28px;
    line-height: 129%;
    color: #212121;
}
.second-part-top-txt p{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #212121;
    padding-top: 16px;
    padding-bottom: 16px;
}
.btn-red01{
    background: #e32359;
    border-radius: 8px;
    color: white;
    padding: 8px 67px;
    border: none;
    cursor: pointer;
}
.btn-red01:hover{
    background: #5b031c;
}
